.tables table tbody td input {
  width: 165px;
  border: none;
  padding: 2px 0;
  text-align: center;
  background-color: #cdc8d8;
}
.tables table thead th {
  height: 100%;
  border: 2px solid #706fbe;
}
.tables table tbody td {
  border: 2px solid #706fbe;
}
.options {
  width: 800px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end
}
.options span {
  font-size: 12px;
  align-content: center;
}
.options div {
  display: flex;
  align-items: center;
}
.options input {
  width: 14px;
  height: 14px;
}
.tables button {
  width: 400px;
}
